{% extends "base.html" %}

{% block content %}

<div id="space">
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>

    <div class="text-container">

        <h2 class="glow-text">{{ node.title }}</h2>
        <p>{{ node.body }}</p>

        <ul>
        {% for link in node.choices.all %}
            <li>
                {% if link.next_node %}
                    <a href="{% url 'node_display' link.next_node %}">{{ link.text }}</a>
                {% else %}
                    {{ link.text }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <a href="{% url 'main' %}">Quit Game?</a>

    </div>
</div>

{% endblock %}
